.cartpage {
    
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    padding: 1rem 1rem;
    margin: 5rem auto;
}

.cartpage h2 {
    text-align: center;
    margin: 10px 0px;
    font-size: 2rem;
    font-weight: 500;
}

.cartitems,
.subTotal {
    width: 100%;
    margin: 1rem 0;
}

.subTotal {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subTotal h2 {
    text-align: center;
    font-weight: 700;
}

.subTotal button {
    cursor: pointer;
    padding: 0.6rem;
    background-color: red;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 5px;
}

@media screen and (min-width: 768px) {
    .cartpage {
        flex-direction: row; 
    }

    .cartitems {
        margin-right: 4rem; 
    }
}

@media screen and (max-width: 767px) {
    .subTotal button {
        margin-top: 0; 
    }
}